* {
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

/* <header> styles */

    header {
        background-color: rgb(27, 151, 182);
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: absolute;
    }
    header h1 {
        background-color:beige;
        border: 10px solid rgb(27, 151, 182);
        border-left: beige;
        padding: 5px 8px 5px 100px 
    }
    header h1 a {
        font-size: 36px;
        font-family: Helvetica;
        text-decoration: none;
        color: black;
        }

    header nav ul {
        display: flex;
        justify-content:space-between;
        list-style: none;
        padding-right: 20px; 
        border-right: solid rgb(27, 151, 182) 45px;
    }
    header ul {
        padding-right: 15%;
    }
header li {
    padding: 35px 15px 5px 5px;
    border-bottom: black 3px solid;
}
    header li a {
        font: helvetica;
        list-style: none;
        font-size: 16px;
        margin-bottom: 20px;
        width: 50%;
       
        text-decoration: none;
    }
    /*still to do- fix the underline of nav, use different colors*/
/*end of <header> styles*/

    /* <hero> styles */
    .hero {
    background-image: url(./images/AdobeColor-New-York-City.jpeg);
    background-size: cover;
    height: 30%;
    padding: 20% 15% 1.5% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .hero h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 75%;
    border: 3px black solid;
    padding: 5px;
    width: 30%;
    }
   /* end of <hero styles> */
.section-header {
    position: relative;
    text-align: right;
    border-right: solid 3px black;
    width: 20%;
    margin: 25px 20px 20px 20px;
    padding: 0px 10px 10px 10px;
    font-size: 34px;
    

}
p {
    position: absolute;
    left: 25%;
    top: 270px;
}
       

   /* "About Me" section 
   .project-info {
       display: inline-block;
       margin: 2.5% 5% 5% 12%;
   }
   /*
    .section-header {
        font-size: 36px;
        border-right: solid 3px black;
        margin-right: 82%;
        text-align: right;
        padding: 10px;
        display: flex;
       flex-direction: column;
    }
    #about-me {
        flex-direction: column;
        flex-wrap: wrap;
        }
        

    